<h2 id="overv" class="list">Süper Lig Football Knowledge Ontology: Overview <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This ontology has the following classes and properties.</span>
<h4>Classes</h4>
<ul xmlns:widoco="https://w3id.org/widoco/vocab#"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    class="hlist">
   <li>
      <a href="#City"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#City">City</a>
   </li>
   <li>
      <a href="#Manager"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Manager">Manager</a>
   </li>
   <li>
      <a href="#Match"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Match">Match</a>
   </li>
   <li>
      <a href="#Person"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Person">Person</a>
   </li>
   <li>
      <a href="#Player"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Player">Player</a>
   </li>
   <li>
      <a href="#Position"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Position">Position</a>
   </li>
   <li>
      <a href="#Referee"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Referee">Referee</a>
   </li>
   <li>
      <a href="#Season"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Season">Season</a>
   </li>
   <li>
      <a href="#Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Stadium">Stadium</a>
   </li>
   <li>
      <a href="#Team"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Team">Team</a>
   </li>
</ul><h4>Object Properties</h4><ul xmlns:widoco="https://w3id.org/widoco/vocab#"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    class="hlist">
   <li>
      <a href="#awayTeam"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#awayTeam">awayTeam</a>
   </li>
   <li>
      <a href="#hasHomeStadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasHomeStadium">hasHomeStadium</a>
   </li>
   <li>
      <a href="#hasPlayer"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasPlayer">hasPlayer</a>
   </li>
   <li>
      <a href="#homeTeam"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#homeTeam">homeTeam</a>
   </li>
   <li>
      <a href="#isManagedBy"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#isManagedBy">isManagedBy</a>
   </li>
   <li>
      <a href="#locatedInCity"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#locatedInCity">locatedInCity</a>
   </li>
   <li>
      <a href="#participatesIn"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#participatesIn">participatesIn</a>
   </li>
   <li>
      <a href="#partOfSeason"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#partOfSeason">partOfSeason</a>
   </li>
   <li>
      <a href="#playedAt"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#playedAt">playedAt</a>
   </li>
   <li>
      <a href="#playsPosition"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#playsPosition">playsPosition</a>
   </li>
</ul><h4>Data Properties</h4><ul xmlns:widoco="https://w3id.org/widoco/vocab#"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    class="hlist">
   <li>
      <a href="#hasAge"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasAge">hasAge</a>
   </li>
   <li>
      <a href="#hasCapacity"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasCapacity">hasCapacity</a>
   </li>
   <li>
      <a href="#hasFoundedYear"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasFoundedYear">hasFoundedYear</a>
   </li>
   <li>
      <a href="#hasJerseyNumber"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasJerseyNumber">hasJerseyNumber</a>
   </li>
   <li>
      <a href="#hasNationality"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#hasNationality">hasNationality</a>
   </li>
</ul><h4>Named Individuals</h4><ul xmlns:widoco="https://w3id.org/widoco/vocab#"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    class="hlist">
   <li>
      <a href="#Abdullah_Avci"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Abdullah_Avci">Abdullah Avci</a>
   </li>
   <li>
      <a href="#Adis_Jahovic"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Adis_Jahovic">Adis Jahovic</a>
   </li>
   <li>
      <a href="#Alanyaspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Alanyaspor">Alanyaspor</a>
   </li>
   <li>
      <a href="#Ankara"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Ankara">Ankara</a>
   </li>
   <li>
      <a href="#Ankara_Stad"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Ankara_Stad">Ankara Stadium</a>
   </li>
   <li>
      <a href="#Ankaragucu"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Ankaragucu">Ankaragucu</a>
   </li>
   <li>
      <a href="#Antalya"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Antalya">Antalya</a>
   </li>
   <li>
      <a href="#Antalya_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Antalya_Stadium">Antalya Stadium</a>
   </li>
   <li>
      <a href="#Antalyaspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Antalyaspor">Antalyaspor</a>
   </li>
   <li>
      <a href="#Ataturk_Olympic_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Ataturk_Olympic_Stadium">Ataturk Olympic Stadium</a>
   </li>
   <li>
      <a href="#Basaksehir_FK"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Basaksehir_FK">Basaksehir FK</a>
   </li>
   <li>
      <a href="#Besiktas"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Besiktas">Besiktas</a>
   </li>
   <li>
      <a href="#Bursa"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Bursa">Bursa</a>
   </li>
   <li>
      <a href="#Bursaspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Bursaspor">Bursaspor</a>
   </li>
   <li>
      <a href="#Caykur_Didi_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Caykur_Didi_Stadium">Caykur Didi Stadium</a>
   </li>
   <li>
      <a href="#Caykur_Rizespor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Caykur_Rizespor">Caykur Rizespor</a>
   </li>
   <li>
      <a href="#Defender"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Defender">Defender</a>
   </li>
   <li>
      <a href="#Dominic_Tedesco"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Dominic_Tedesco">Dominic Tedesco</a>
   </li>
   <li>
      <a href="#Dries_Mertens"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Dries_Mertens">Dries Mertens</a>
   </li>
   <li>
      <a href="#Dusan_Tadic"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Dusan_Tadic">Dusan Tadic</a>
   </li>
   <li>
      <a href="#Eyupspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Eyupspor">Eyupspor</a>
   </li>
   <li>
      <a href="#Fenerbahce"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Fenerbahce">Fenerbahce</a>
   </li>
   <li>
      <a href="#Forward"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Forward">Forward</a>
   </li>
   <li>
      <a href="#Galatasaray"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Galatasaray">Galatasaray</a>
   </li>
   <li>
      <a href="#Match_GS_FB_2025"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Match_GS_FB_2025">Galatasaray vs Fenerbahce 2025</a>
   </li>
   <li>
      <a href="#Gaziantep"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Gaziantep">Gaziantep</a>
   </li>
   <li>
      <a href="#Gaziantep_FK"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Gaziantep_FK">Gaziantep FK</a>
   </li>
   <li>
      <a href="#Goalkeeper"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Goalkeeper">Goalkeeper</a>
   </li>
   <li>
      <a href="#Goztepe"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Goztepe">Goztepe</a>
   </li>
   <li>
      <a href="#Hakan_Kutlu"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Hakan_Kutlu">Hakan Kutlu</a>
   </li>
   <li>
      <a href="#Hatay"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Hatay">Hatay</a>
   </li>
   <li>
      <a href="#Hatayspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Hatayspor">Hatayspor</a>
   </li>
   <li>
      <a href="#Kadir_Has_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kadir_Has_Stadium">Kadir Has Stadium</a>
   </li>
   <li>
      <a href="#Kalyon_Gaziantep_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kalyon_Gaziantep_Stadium">Kalyon Gaziantep Stadium</a>
   </li>
   <li>
      <a href="#Kasimpasa"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kasimpasa">Kasimpasa</a>
   </li>
   <li>
      <a href="#Kayseri"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kayseri">Kayseri</a>
   </li>
   <li>
      <a href="#Kayserispor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kayserispor">Kayserispor</a>
   </li>
   <li>
      <a href="#Kerem_Akturkoglu"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Kerem_Akturkoglu">Kerem Akturkoglu</a>
   </li>
   <li>
      <a href="#Konya"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Konya">Konya</a>
   </li>
   <li>
      <a href="#Konya_Buyuksehir_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Konya_Buyuksehir_Stadium">Konya Buyuksehir Stadium</a>
   </li>
   <li>
      <a href="#Konyaspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Konyaspor">Konyaspor</a>
   </li>
   <li>
      <a href="#Mauro_Icardi"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Mauro_Icardi">Mauro Icardi</a>
   </li>
   <li>
      <a href="#Midfielder"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Midfielder">Midfielder</a>
   </li>
   <li>
      <a href="#Okan_Buruk"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Okan_Buruk">Okan Buruk</a>
   </li>
   <li>
      <a href="#Papara_Park"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Papara_Park">Papara Park</a>
   </li>
   <li>
      <a href="#Paul_Onuachu"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Paul_Onuachu">Paul Onuachu</a>
   </li>
   <li>
      <a href="#Rafa_Silva"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Rafa_Silva">Rafa Silva</a>
   </li>
   <li>
      <a href="#Rams_Park"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Rams_Park">Rams Park</a>
   </li>
   <li>
      <a href="#Rize"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Rize">Rize</a>
   </li>
   <li>
      <a href="#Samsun"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Samsun">Samsun</a>
   </li>
   <li>
      <a href="#Samsun_19_Mayis_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Samsun_19_Mayis_Stadium">Samsun 19 Mayis Stadium</a>
   </li>
   <li>
      <a href="#Samsunspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Samsunspor">Samsunspor</a>
   </li>
   <li>
      <a href="#Serdar_Topraktepe"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Serdar_Topraktepe">Serdar Topraktepe</a>
   </li>
   <li>
      <a href="#Sergen_Yalcin"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Sergen_Yalcin">Sergen Yalcin</a>
   </li>
   <li>
      <a href="#Sivasspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Sivasspor">Sivasspor</a>
   </li>
   <li>
      <a href="#Stjepan_Tomas"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Stjepan_Tomas">Stjepan Tomas</a>
   </li>
   <li>
      <a href="#Sukru_Saracoglu_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Sukru_Saracoglu_Stadium">Sukru Saracoglu Stadium</a>
   </li>
   <li>
      <a href="#Superlig_Season_2025_26"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Superlig_Season_2025_26">Superlig Season 2025-26</a>
   </li>
   <li>
      <a href="#Timsah_Arena"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Timsah_Arena">Timsah Arena</a>
   </li>
   <li>
      <a href="#Trabzon"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Trabzon">Trabzon</a>
   </li>
   <li>
      <a href="#Trabzonspor"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Trabzonspor">Trabzonspor</a>
   </li>
   <li>
      <a href="#Tupras_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Tupras_Stadium">Tupras Stadium</a>
   </li>
   <li>
      <a href="#Victor_Osimhen"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Victor_Osimhen">Victor Osimhen</a>
   </li>
   <li>
      <a href="#Yeni_Hatay_Stadium"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Yeni_Hatay_Stadium">Yeni Hatay Stadium</a>
   </li>
   <li>
      <a href="#Ismail_Kartal"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Ismail_Kartal">Ismail Kartal</a>
   </li>
   <li>
      <a href="#Istanbul"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Istanbul">Istanbul</a>
   </li>
   <li>
      <a href="#Izmir"
         title="http://www.semanticweb.org/mehme/ontologies/2026/superlig#Izmir">Izmir</a>
   </li>
</ul><iframe src="webvowl/index.html"></iframe> 
